/* Global Styles */
* {
    margin: 10;
    padding: 10;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  body {
    background-color: #3f6787;
    color: white;
  }
  
  /* Navbar */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222;
    padding: 15px 20px;
    border-radius: 12px;
  }
  
  .navbar input {
    padding: 8px;
    width: 250px;
    border-radius: 5px;
    border: none;
  }
  
  .navbar button {
    background-color: #ff5e00;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .container {
    padding: 20px;
  }
  
  /* Card Grid */
  .grid {
    display: flex;
    gap: 15px;
  }
  
  .card {
    background-color: #333;
    padding: 15px;
    border-radius: 10px;
    width: 250px;
    height: 150px;
  }
  